.header {
    background-image: url(B11-A3-Living-Lab/Assignment_03_Category_0001/c1-assets/cat-big.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding: auto;
    background-position: center;
}

.Dog {
    padding: 5px;
}

.footer-links {
    flex: 1px;
    min-width: 200px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 8px;
}

.footer-links ul li a {
    color: black;
    text-decoration: none;
}
