.header {
    background-image: url(B11-A3-Living-Lab/Assignment_03_Category_0001/c1-assets/cat-big.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding: auto;
    background-position: center;
}